.container {
    display: flex;
}

.dashboard {
    position: relative;
    width: 100%;
    z-index: 0;
}

.topBaseGradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 20rem;
    overflow: hidden;
    z-index: -1;
}

.topBaseGradient>:nth-child(2) {
    left: 40%;
}

.topBaseGradient>:nth-child(3) {
    right: 0;
}

.header {
    display: flex;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-between;
}

.details {
    display: flex;
    flex-direction: column;
}

.details>:nth-child(1) {
    font-weight: bold;
    font-size: 1rem;
}

.details>:nth-child(2) {
    font-size: 0.8rem;
}

.profile {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.profile>img {
    height: 30px;
    width: 30px;
    border-radius: 50px;
}

.content {
    margin: auto;
    display: flex;
    height: 100%;
}

.content>div {
    width: 100%;
    min-width: 75vh;
}