.calendar-container > div {
    margin: auto;
    width: 90%;
    padding: 0rem 5rem;
    max-width: 1100px;
    height: 85vh;
}

.fc-event {
    background: var(--orange-gradient) !important;
}

.fc .fc-timegrid-slot {
    height: 2.5rem !important;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 1.5em;
    display: flex;
    flex-wrap: wrap;
}

td {
    border: 1px solid var(--grey) !important;
}

@media screen and (max-width: 768px) {
    .calendar-container > div {
        width: 100%;
        padding: 0;
        height: auto;
    }
    
    .fc .fc-toolbar.fc-header-toolbar {
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }
    
    .fc-toolbar-chunk {
        margin-bottom: 0.5rem;
    }
    
    .fc .fc-view-harness {
        height: 400px !important;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .calendar-container > div {
        width: 95%;
        padding: 0 1rem;
    }
    
    .fc .fc-toolbar.fc-header-toolbar {
        flex-wrap: wrap;
    }
}